<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>添加图书</title>
  <style>
    #box{
      width: 400px;
      margin: 10px auto;
      text-align: center;
    }
    #box input[type="submit"] {
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div id="box">
    <h1>添加图书</h1>
    <form action="/doAdd" method="post" enctype="multipart/form-data">
      <p>书名: <input type="text" name="name" id="name"></p>
      <p>作者: <input type="text" name="author" id="author"></p>
      <p>阅读人数: <input type="text" name="readNumber"></p>
      <p><input type="submit" id="sub"></p>
    </form>
  </div>
</body>
</html>